$Dankgreen : rgba(0, 102, 0, 0.3);
$Dankblue: rgba(0, 0, 255, 0.3);
$lighterpurple: rgb(166, 77, 255);
$sexyblue : #327CCB;
$chrome: #F4F4F4;
$testblue: #0066ff;
$deepurple: rgb(89, 0, 179);
$milkybeige: rgba(244, 244, 244, 0.9);
